In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from fbprophet import Prophet 
from fbprophet.plot import add_changepoints_to_plot
from fbprophet.diagnostics import cross_validation
import itertools
from fbprophet.diagnostics import performance_metrics
import tensorflow as tf
from tensorflow import keras
from catboost import CatBoostRegressor

In [2]:
#Lendo e transformando o arquivo CSV em um objeto pandas DataFrame nomeado de "df"
dff = pd.read_csv('C:/Users/juan_/Documents/GitHub/Datasets/demand.csv')

In [3]:
#Verificando o head e tail do CSV
dff

         Product_Code Warehouse Product_Category       Date Order_Demand
0        Product_0993    Whse_J     Category_028  2012/7/27         100
1        Product_0979    Whse_J     Category_028  2012/1/19         500
2        Product_0979    Whse_J     Category_028   2012/2/3         500
3        Product_0979    Whse_J     Category_028   2012/2/9         500
4        Product_0979    Whse_J     Category_028   2012/3/2         500
...               ...       ...              ...        ...          ...
1048570  Product_1791    Whse_J     Category_006  2016/4/27        1000
1048571  Product_1974    Whse_J     Category_006  2016/4/27           1
1048572  Product_1787    Whse_J     Category_006  2016/4/28        2500
1048573  Product_0901    Whse_J     Category_023  2016/10/7          50
1048574  Product_0704    Whse_J     Category_001  2016/6/27           4

[1048575 rows x 5 columns]

In [4]:
#Analisando algumas informações a respeito do DataFrame
dff.describe()

        Product_Code Warehouse Product_Category       Date Order_Demand
count        1048575   1048575          1048575    1037336      1048575
unique          2160         4               33       1729         3828
top     Product_1359    Whse_J     Category_019  2013/9/27        1000
freq           16936    764447           481099       2075       112682

In [5]:
#Verificando a existência de dados não preenchidos no DataFrame
dff.isnull().sum()

Product_Code            0
Warehouse               0
Product_Category        0
Date                11239
Order_Demand            0
dtype: int64

In [6]:
#Verificando a relação de dados faltantes com o total de dados
x = (11239/1048575)*100
print(f'Os dados faltantes equivalem à {round(x,3)}% do total dos dados do DataFrame')

Os dados faltantes equivalem à 1.072% do total dos dados do DataFrame

In [7]:
#Os dados não preenchidos beiram 1% do total dos dados, sendo assim, resolvi dropar os dados. 
#Outro motivo para dropar os dados é que não era possível estimar os dados faltantes.

#Dropando as linhas dos dados faltantes e atualizando o DF.
dff.dropna(inplace=True)
dff.isnull().sum()

Product_Code        0
Warehouse           0
Product_Category    0
Date                0
Order_Demand        0
dtype: int64

In [8]:
#Não está no notebook, mas alguns números possuíam parenteses, o código abaixo é para retirar esses parenteses (servirá lá na frente)
dff['Order_Demand']=dff['Order_Demand'].str.replace('(','',regex=True)
dff['Order_Demand']=dff['Order_Demand'].str.replace(')','',regex=True)

In [9]:
#O código abaixo separa os valores das datas, e após isso, cada valor é atribuído a uma nova coluna no DataFrame
dff[['Year','Month','Day']] = dff['Date'].str.split("/", expand = True)
dff[['Month']] = dff[['Month']].astype(int)
dff[['Year']] = dff[['Year']].astype(int)
#df[['Day']] = df[['Day']].astype(int)

#A retirada dos parenteses dos números foi necessário na hora de converter a coluna "Order_Demand" de str para int
dff[['Order_Demand']] = dff[['Order_Demand']].astype(int)

In [10]:
#Ordenando o DataFrame pela Data
dff['Test'] = dff['Year'].map(str) +'/'+ dff['Month'].map(str)
dff['Test'] = pd.to_datetime(dff['Test'])
dff.sort_values('Date', inplace=True)
dff.reset_index(inplace=True)
dff.drop('index',axis=1,inplace=True)
dff

,Product_Code,Warehouse,Product_Category,Date,Order_Demand,Year,Month,Day,Test
0,Product_0965,Whse_A,Category_006,2011/1/8,2,2011,1,8,2011-01-01
1,Product_0412,Whse_S,Category_007,2011/10/20,2,2011,10,20,2011-10-01
2,Product_0125,Whse_S,Category_011,2011/10/20,2,2011,10,20,2011-10-01
3,Product_0642,Whse_C,Category_019,2011/10/31,3,2011,10,31,2011-10-01
4,Product_2137,Whse_S,Category_009,2011/11/18,25,2011,11,18,2011-11-01
...,...,...,...,...,...,...,...,...,...
1037331,Product_0689,Whse_J,Category_011,2017/1/6,200,2017,1,6,2017-01-01
1037332,Product_1970,Whse_J,Category_005,2017/1/6,2000,2017,1,6,2017-01-01
1037333,Product_1904,Whse_C,Category_019,2017/1/9,4000,2017,1,9,2017-01-01
1037334,Product_0471,Whse_C,Category_015,2017/1/9,30,2017,1,9,2017-01-01
1037335,Product_0250,Whse_C,Category_007,2017/1/9,148,2017,1,9,2017-01-01

In [11]:
#Verificando a quantidade de registros de cada armazens
dff[['Warehouse']].value_counts()

Warehouse
Whse_J       764447
Whse_A       142335
Whse_S        88200
Whse_C        42354
dtype: int64

In [12]:
#Analisando os dados do DataFrame original
xdf = dff['Order_Demand'].sum()
print(dff.nunique())
print(f'\nTotal of Order Demands: {xdf}')

Product_Code        2160
Warehouse              4
Product_Category      33
Date                1729
Order_Demand        3309
Year                   7
Month                 12
Day                   31
Test                  68
dtype: int64

Total of Order Demands: 5134173931

In [13]:
df_prod = dff[['Product_Code','Order_Demand','Date','Month','Year','Test']]
df_prod
df_prod[['Product_Code']].value_counts()

Product_Code
Product_1359    16936
Product_1295    10575
Product_1378     9770
Product_0620     9428
Product_1286     8888
                ...
Product_1698        2
Product_1703        1
Product_0465        1
Product_2099        1
Product_0853        1
Length: 2160, dtype: int64

In [14]:
df = df_prod[(df_prod['Product_Code']=='Product_1295')]
#df['Test'] = df['Year'].map(str) +'/'+ df['Month'].map(str)
df

         Product_Code  Order_Demand       Date  Month  Year       Test
686      Product_1295         60000  2012/1/10      1  2012 2012-01-01
818      Product_1295          1000  2012/1/10      1  2012 2012-01-01
925      Product_1295         30000  2012/1/10      1  2012 2012-01-01
1014     Product_1295          1000  2012/1/10      1  2012 2012-01-01
1188     Product_1295         12000  2012/1/10      1  2012 2012-01-01
...               ...           ...        ...    ...   ...        ...
1036593  Product_1295         10000   2016/9/8      9  2016 2016-09-01
1036651  Product_1295           300   2016/9/9      9  2016 2016-09-01
1036842  Product_1295         30000   2016/9/9      9  2016 2016-09-01
1037058  Product_1295         10000   2016/9/9      9  2016 2016-09-01
1037167  Product_1295          1000   2016/9/9      9  2016 2016-09-01

[10575 rows x 6 columns]

In [15]:
#df['Date'] = pd.to_datetime(df['Date'])

In [16]:
df = df.groupby(by=['Test']).sum()
df.drop(columns=['Month','Year'],inplace=True)

In [17]:
df.reset_index(inplace=True)

In [18]:
#df['Date'] = pd.to_datetime(df['Test'])
#df

In [19]:
df['ds'] = df['Test']
df['y'] = df['Order_Demand']
df.drop(columns=['Test','Order_Demand'],inplace=True)

In [20]:
size = len(df) - 2
size

58

In [21]:
train=df[:size]
test=df
test

           ds        y
0  2012-01-01  1360800
1  2012-02-01  1863200
2  2012-03-01  2190800
3  2012-04-01  1817400
4  2012-05-01  1330700
5  2012-06-01  1676100
6  2012-07-01  1368000
7  2012-08-01  1396600
8  2012-09-01  1420500
9  2012-10-01  1900300
10 2012-11-01  1828900
11 2012-12-01  1757300
12 2013-01-01  1630300
13 2013-02-01  2064200
14 2013-03-01  2511300
15 2013-04-01  1601900
16 2013-05-01  1832500
17 2013-06-01  1912600
18 2013-07-01  2082200
19 2013-08-01  1651600
20 2013-09-01  1496500
21 2013-10-01  2312700
22 2013-11-01  2258900
23 2013-12-01  2078200
24 2014-01-01  2307200
25 2014-02-01  2204800
26 2014-03-01  2704500
27 2014-04-01  1979900
28 2014-05-01  1713300
29 2014-06-01  2016900
30 2014-07-01  2211100
31 2014-08-01  1823200
32 2014-09-01  2926000
33 2014-10-01  2645000
34 2014-11-01  2524600
35 2014-12-01  2150000
36 2015-01-01  2329300
37 2015-02-01  1993400
38 2015-03-01  2482700
39 2015-04-01  2346500
40 2015-05-01  1878500
41 2015-06-01  2235500
42 2015-07-01  2878300
43 2015-08-01  1888600
44 2015-09-01  1974200
45 2015-10-01  2093300
46 2015-11-01  2022300
47 2015-12-01  2119500
48 2016-01-01  1923500
49 2016-02-01  1865900
50 2016-03-01  2651600
51 2016-04-01  2540700
52 2016-05-01  1761100
53 2016-06-01  2356300
54 2016-07-01  1916700
55 2016-08-01  2058200
56 2016-09-01  2119200
57 2016-10-01  2251900
58 2016-11-01  2522400
59 2016-12-01  2543400

In [29]:
model=CatBoostRegressor(iterations=100, depth=10, learning_rate=0.03, loss_function='RMSE')
m = model.fit(train['ds'], train['y'])

0:	learn: 368768.7862999	total: 1.27ms	remaining: 126ms
1:	learn: 366045.1769934	total: 5.63ms	remaining: 276ms
2:	learn: 362717.0668890	total: 10.3ms	remaining: 334ms
3:	learn: 360289.0026172	total: 13.4ms	remaining: 323ms
4:	learn: 357536.1973076	total: 16.2ms	remaining: 308ms
5:	learn: 354651.5398078	total: 17.8ms	remaining: 279ms
6:	learn: 351928.7956835	total: 18.6ms	remaining: 247ms
7:	learn: 349892.4493303	total: 21.3ms	remaining: 245ms
8:	learn: 347039.3510023	total: 24.2ms	remaining: 245ms
9:	learn: 344458.5679225	total: 25.3ms	remaining: 227ms
10:	learn: 342227.4395094	total: 25.7ms	remaining: 208ms
11:	learn: 339751.1952093	total: 26.3ms	remaining: 193ms
12:	learn: 337773.5074340	total: 26.7ms	remaining: 179ms
13:	learn: 336120.0137941	total: 30ms	remaining: 184ms
14:	learn: 334384.8391461	total: 30.4ms	remaining: 172ms
15:	learn: 332949.7497172	total: 33.1ms	remaining: 174ms
16:	learn: 330960.6204473	total: 34.5ms	remaining: 168ms
17:	learn: 328289.3023878	total: 37.3ms	remaining: 170ms
18:	learn: 326329.5023592	total: 39.9ms	remaining: 170ms
19:	learn: 324706.0863768	total: 42.9ms	remaining: 171ms
20:	learn: 323441.3353048	total: 43.9ms	remaining: 165ms
21:	learn: 321995.8041069	total: 45.4ms	remaining: 161ms
22:	learn: 320000.4637359	total: 47.9ms	remaining: 160ms
23:	learn: 318707.0612778	total: 50.5ms	remaining: 160ms
24:	learn: 317557.9819219	total: 50.9ms	remaining: 153ms
25:	learn: 315857.5732859	total: 53.4ms	remaining: 152ms
26:	learn: 313941.5580027	total: 55.1ms	remaining: 149ms
27:	learn: 312402.5803764	total: 56.9ms	remaining: 146ms
28:	learn: 310917.8099989	total: 59.5ms	remaining: 146ms
29:	learn: 309250.1416568	total: 62.1ms	remaining: 145ms
30:	learn: 307753.0347842	total: 64.8ms	remaining: 144ms
31:	learn: 306603.5967305	total: 67.4ms	remaining: 143ms
32:	learn: 305336.0755839	total: 70.1ms	remaining: 142ms
33:	learn: 304636.0038152	total: 70.4ms	remaining: 137ms
34:	learn: 303677.2365833	total: 71.9ms	remaining: 134ms
35:	learn: 302920.4086064	total: 72.4ms	remaining: 129ms
36:	learn: 301641.8619971	total: 75ms	remaining: 128ms
37:	learn: 300611.5084507	total: 75.6ms	remaining: 123ms
38:	learn: 299639.1968545	total: 76ms	remaining: 119ms
39:	learn: 298439.1003849	total: 77.6ms	remaining: 116ms
40:	learn: 297640.0822543	total: 80.3ms	remaining: 116ms
41:	learn: 296377.2247409	total: 82.9ms	remaining: 115ms
42:	learn: 295535.9615807	total: 85.6ms	remaining: 113ms
43:	learn: 294192.2867702	total: 88.2ms	remaining: 112ms
44:	learn: 293047.3134853	total: 91.3ms	remaining: 112ms
45:	learn: 292181.2784123	total: 91.8ms	remaining: 108ms
46:	learn: 291360.9477854	total: 94.6ms	remaining: 107ms
47:	learn: 289926.8602812	total: 96.2ms	remaining: 104ms
48:	learn: 288859.6820047	total: 98.8ms	remaining: 103ms
49:	learn: 287750.5709722	total: 101ms	remaining: 101ms
50:	learn: 286652.2262048	total: 104ms	remaining: 100ms
51:	learn: 285666.8548431	total: 107ms	remaining: 98.4ms
52:	learn: 284977.9429162	total: 108ms	remaining: 95.6ms
53:	learn: 284197.8360216	total: 108ms	remaining: 92.2ms
54:	learn: 283454.5514252	total: 111ms	remaining: 90.7ms
55:	learn: 282641.2832970	total: 111ms	remaining: 87.5ms
56:	learn: 281992.4805404	total: 114ms	remaining: 85.9ms
57:	learn: 281515.5153397	total: 114ms	remaining: 82.8ms
58:	learn: 280101.2982739	total: 117ms	remaining: 81.2ms
59:	learn: 278989.3822527	total: 120ms	remaining: 79.7ms
60:	learn: 278501.9879068	total: 120ms	remaining: 76.9ms
61:	learn: 277644.6152610	total: 121ms	remaining: 74.3ms
62:	learn: 276834.5630165	total: 124ms	remaining: 72.7ms
63:	learn: 275774.9273955	total: 126ms	remaining: 71.1ms
64:	learn: 275359.1591998	total: 127ms	remaining: 68.6ms
65:	learn: 274985.5799375	total: 128ms	remaining: 65.9ms
66:	learn: 274312.8038094	total: 129ms	remaining: 63.7ms
67:	learn: 273554.1356335	total: 132ms	remaining: 62.2ms
68:	learn: 272473.5610138	total: 135ms	remaining: 60.6ms
69:	learn: 271761.4225577	total: 138ms	remaining: 59.1ms
70:	learn: 270803.5115116	total: 138ms	remaining: 56.5ms
71:	learn: 269800.4867856	total: 141ms	remaining: 54.9ms
72:	learn: 268947.1395948	total: 144ms	remaining: 53.2ms
73:	learn: 268070.8464870	total: 146ms	remaining: 51.4ms
74:	learn: 267907.5887907	total: 147ms	remaining: 48.9ms
75:	learn: 267709.1747765	total: 147ms	remaining: 46.4ms
76:	learn: 266787.6766161	total: 150ms	remaining: 44.7ms
77:	learn: 266542.8033472	total: 150ms	remaining: 42.4ms
78:	learn: 266413.2256405	total: 151ms	remaining: 40.1ms
79:	learn: 265591.2543200	total: 153ms	remaining: 38.4ms
80:	learn: 264798.1570493	total: 156ms	remaining: 36.6ms
81:	learn: 263878.9113253	total: 157ms	remaining: 34.5ms
82:	learn: 263022.8117111	total: 160ms	remaining: 32.7ms
83:	learn: 262518.3032679	total: 161ms	remaining: 30.6ms
84:	learn: 261971.6677921	total: 161ms	remaining: 28.5ms
85:	learn: 261298.0464336	total: 164ms	remaining: 26.7ms
86:	learn: 260584.2205088	total: 167ms	remaining: 24.9ms
87:	learn: 259884.2323896	total: 169ms	remaining: 23.1ms
88:	learn: 259305.6229523	total: 172ms	remaining: 21.3ms
89:	learn: 259239.2724770	total: 173ms	remaining: 19.2ms
90:	learn: 258781.2477582	total: 175ms	remaining: 17.3ms
91:	learn: 257977.0174509	total: 178ms	remaining: 15.5ms
92:	learn: 257528.0386355	total: 181ms	remaining: 13.7ms
93:	learn: 256678.4730567	total: 184ms	remaining: 11.8ms
94:	learn: 256177.4687634	total: 188ms	remaining: 9.88ms
95:	learn: 255625.9065365	total: 191ms	remaining: 7.95ms
96:	learn: 254822.0704329	total: 194ms	remaining: 6.01ms
97:	learn: 254066.9747392	total: 197ms	remaining: 4.02ms
98:	learn: 253173.5661192	total: 200ms	remaining: 2.02ms
99:	learn: 252444.5895433	total: 203ms	remaining: 0us

In [34]:
CatBoostRegressor.predict(data=test,
        prediction_type=None,
        ntree_start=0,
        ntree_end=0,
        thread_count=-1,
        verbose=None)

TypeError: predict() missing 1 required positional argument: 'self'